[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
jupyterlab = "*"
jupyter = "*"

[packages]
nltk = "*"
pandas = "*"
pillow = "*"
spacy = "2.3"

[requires]
python_version = "3.7"

[scripts]
install_modules = "python delivery/install_modules.py"
